{% extends 'index/base.html' %}

{% block content %}
<main>
    <ul class="feed-list">
        {% for row in data %}
        <li class="feed-item">
            <h2>{{ row.title }}</h2>
                <span>
                    <h3>
                        Author: {{ row.name }}
                    </h3>
                    <p>{{ row.message }}</p>
                    <p class="post_time">Posted at: {{ row.time }}</p>
                </span>
        </li>
        

        <details open>
            <summary>{{ row.title }}</summary>
            <p class="author">{{ row.name }}</p>
            <p>{{ row.message }}</p>
            <p class="post_time">Posted at: {{ row.time }}</p>
        </details>
        {% endfor %}
    </ul>
</main>

{% endblock %}