{% extends 'index/base.html' %}

{% block content %}
<main>
    <ul class="feed-list">
        {% for post in data %}
        <!-- <li class="feed-item">
            <h2>{{ post['title'] }}</h2>
                <span>
                    <h3>
                        Author: {{ post['name'] }}
                    </h3>
                    <p>{{ post['post'] }}</p>
                    <p class="post_time">Posted at: {{ post['time'] }}</p>
                </span>
        </li> -->
        
        <li>
            <details open>
                <summary>{{ post['title'] }}</summary>
                <p class="author">{{ post['name'] }}</p>
                <p>{{ post['post'] }}</p>
                <p class="post_time">Posted at: {{ post['time'] }}</p>
            </details>
        </li>
        {% endfor %}
    </ul>
</main>

{% endblock %}