{% extends 'index/base.html' %}

{% include 'index/nav.html' %}
{% block content %}
<style>
    div {
        margin-top: 4em;
    }
</style>
    <div>
        <h4>Success!</h4>
        <h5>Other users since last reset:</h5>
        <ul>
            {% for user in data %}
                <li>
                    <div>
                        <p>Name: {{ user[0] }}</p>
                        <p>Message: {{ user[1] }}</p>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <p>We are not keeping this data and it will be reset with 15 minutes of inactivity on the server</p>
    </div>
{% endblock %}